# requirements.txt
streamlit==1.49.0
langchain==0.3.7
langchain-community==0.3.7
langchain-google==0.3.7
langchain-huggingface==0.1.7
google-search-results
supabase
pysqlite3-binary
typing-extensions>=4.0.0