streamlit==1.49.0
langchain-groq==0.1.0
supabase==2.0.0
groq==0.9.0
pysqlite3-binary==0.5.2
typing-extensions>=4.0.0
rich==14.1.0
markdown-it-py==4.0.0
pygments==2.19.2
mdurl==0.1.2
requests==2.32.0
python-dotenv==1.0.1